<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <link href="/static/styles.css" rel="stylesheet">
        <title>Library Management System</title>
    </head>
    <body>
        <div class="header">
            <h1>Library Management System</h1>
        </div>

        <div class="container">
            <h2>Welcome! Select one of the following:</h2>
            <ul>
                <li><a href="/records">Records Management</a> Display Records for Each Table</li>
                <li><a href="/transactions">Transactions</a> Add, Delete, or Update Records</li>
                <li><a href="/reports">Reports</a> Generate List of Reports or Summaries</li>
            </ul>
        </div>
    </body>
</html>
