<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <link href="/static/styles.css" rel="stylesheet">
        <title>Records Management</title>
    </head>
    <body>
        <div class="header">
            <h1>Records Management: {% block title %}{% endblock %}</h1>
        </div>

        <div class="container">
            <nav class="nav-links">
                <a href="/authors">Authors</a>
                <a href="/publishers">Publishers</a>
                <a href="/books">Books</a>
                <a href="/borrowers">Borrowers</a>
                <a href="/borrowrecords">Borrow Records</a>
                <a href="/borroweroffenses">Borrower Offenses</a>
                <a href="/">Home</a>
            </nav>

            <main>
                {% block main %} {% endblock %}
            </main>
        </div>
    </body>
</html>
